.sidebar-playlist-container {
    border-top: 1.5px solid #80808026;

    margin-top: 20px;
    color: rgb(158, 154, 154);

    .list-name {
        font-size: 16px;
        margin-left: 22px;
        margin-top: 10px;
    }
}
