// flex helpers

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}
.align-end {
  align-self: flex-end;
}
.align-start {
  align-self: flex-start;
}

.flex-grow1 {
  flex-grow: 1;
}

.warp {
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.screen {
  place-content: center;
  position: fixed;
   display: flex;
  background-color: rgba(0, 0, 0, 0.357);
  overflow-y: auto;
  cursor: pointer;
  inset: 0;
  z-index: 10;
}

.icon-lg {
  font-size: rem(18px);
  width: 32px;
  height:32px;
}

.icon-sm {
  font-size: rem(16px);
  height: 20px;
  width: 20px;
}


.block{
  display: block;
}

.none{
  display: none;
}

.green {
  background-color: #61bd4f;
  border-radius: 3px;
  color: #fff;
}

.red {
  background-color: #eb5a46;
  border-radius: 3px;
  color: #fff;
}

.yellow {
  background-color: #f2d600;
  border-radius: 3px;
  color: #fff;
}

.btn-layover{
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  position: absolute;
  inset: 0;
  cursor: pointer;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
}

.input-style {
  margin: 4px 0 12px;
  width: 100%;
  -webkit-appearance: none;
  background-color: #fafbfc;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  box-sizing: border-box;
  display: block;
  line-height: 20px;
  margin-bottom: 12px;
  outline: none;
  padding: 8px 12px;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;

  &:hover {
    background-color: $light-grey1;
    box-shadow: inset 0 0 0 2px #dfe1e6;
  }
  &:focus {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #0079bf;
  }
}

